<script id="tracking_floodlight_tmpl" type="text/html">
  <div id="fl_target">
  	<iframe src="http://fls.doubleclick.net/activityi;src=1311136;type=2012s467;cat={{cat}};ord={{a}}?" width="1" height="1" frameborder="0" style="display:none"></iframe>
  </div>
</script>