$colorWhite: #ffffff;
$colorGreyLite: #eeeeee;
$colorGreyDark: #3b3b3b;
$colorTeal: #44a995;
$colorYellow: #fdfa00;

$colorTextBody: $colorGreyDark;
$colorTextLink: $colorTeal;
$colorTextInactive: $colorWhite;
$colorTextActive: $colorYellow;