<div id="overlay-view">
  <div id="overlay-content">
    <nav>
      <button id="overlay-prev-button" type="button">Prev</button>
      <button id="overlay-next-button" type="button">Next</button>
      <button id="overlay-close-button" type="button">X</button>
    </nav>
    <div id="overlay-content-template">
      <!-- Post content template -->
    </div>
    <div id="overlay-cheer">
      <button id="overlay-cheer-button" type="button">Cheer</button>
      <div id="overlay-cheer-template">
        <!-- Cheer count template -->
      </div>
    </div>
    <div id="overlay-tip">
      <form id="overlay-tip-form">
        <input type="text" name="tip" value="Write a tip..." />
      </form>
      <div id="overlay-tip-template">
        <!-- Tip item template -->
      </div>
    </div>
  </div>
  <div id="overlay-cover"></div>
</div>